Repository omercnet/gitguard: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, format-yaml, format-markdown

.lefthook.yml:

commit-msg:
  scripts:
    commitlint:
      runner: npx commitlint --edit $1

pre-commit:
  parallel: false
  commands:
    # Auto-fix formatting issues first
    format-go:
      glob: "*.go"
      run: |
        # Format Go code
        gofmt -s -w {staged_files}
        # Format imports
        which gci >/dev/null 2>&1 || go install github.com/daixiang0/gci@latest
        gci write {staged_files}
        # Remove trailing whitespace
        if command -v gsed >/dev/null 2>&1; then
          gsed -i 's/[[:space:]]*$//' {staged_files}
        elif sed --version 2>/dev/null | grep -q GNU; then
          sed -i 's/[[:space:]]*$//' {staged_files}
        else
          sed -i '' 's/[[:space:]]*$//' {staged_files}
        fi
        # Add fixed files back to staging
        git add {staged_files}
      stage_fixed: true

    format-yaml:
      glob: "*.{yml,yaml}"
      run: |
        # Remove trailing whitespace from YAML files
        if command -v gsed >/dev/null 2>&1; then
          gsed -i 's/[[:space:]]*$//' {staged_files}
        elif sed --version 2>/dev/null | grep -q GNU; then
          sed -i 's/[[:space:]]*$//' {staged_files}
        else
          sed -i '' 's/[[:space:]]*$//' {staged_files}
        fi
        git add {staged_files}
      stage_fixed: true

    format-markdown:
      glob: "*.md"
      run: |
        # Remove trailing whitespace from Markdown files
        if command -v gsed >/dev/null 2>&1; then
          gsed -i 's/[[:space:]]*$//' {staged_files}
        elif sed --version 2>/dev/null | grep -q GNU; then
          sed -i 's/[[:space:]]*$//' {staged_files}
        else
          sed -i '' 's/[[:space:]]*$//' {staged_files}
        fi
        git add {staged_files}
      stage_fixed: true

    # Tidy go modules
    go-mod-tidy:
      run: |
        go mod tidy
        if ! git diff --quiet go.mod go.sum; then
          git add go.mod go.sum
        fi
      stage_fixed: true

    # Run linting after formatting
    lint:
      run: make lint
      fail_text: "Linting failed. Run 'make lint' to see details."

    # Run tests
    test:
      run: make test
      fail_text: "Tests failed. Run 'make test' to see details."

fix(ci): release please pat
  .github/workflows/release-please.yml
Due: format-yaml

Update ci.yml
  .github/workflows/ci.yml
Due: format-yaml

chore(main): release 0.1.1
  .release-please-manifest.json
  CHANGELOG.md
Due: format-markdown

chore(main): release 0.1.1 (#4)
  .release-please-manifest.json
  CHANGELOG.md
Due: format-markdown

fix: make it work lol
  .github/workflows/ci.yml
  .github/workflows/release-please.yml
  .goreleaser.yml
  .ko.yaml
  Makefile
  README.md
  cmd/gitguard/main.go
  internal/app/config.go
  internal/app/handlers.go
  internal/app/handlers_test.go
  internal/app/server.go
  internal/gitleaks/detector.go
Due: format-go, format-yaml, format-markdown

fix: make it work lol
  README.md
Due: format-markdown

fix: goreleaser
  .github/workflows/ci.yml
Due: format-yaml

fix(tests): optimize tests
  internal/app/handlers_integration_test.go
  internal/app/handlers_test.go
  internal/app/server_test.go
  internal/gitleaks/detector_test.go
Due: format-go

fix(tests): fix gorls
  .github/workflows/ci.yml
  .github/workflows/container.yml
Due: format-yaml

Update internal/app/server.go
  internal/app/server.go
Due: format-go

fix: only build linux
  .goreleaser.yml
Due: format-yaml

fix: make it work lol (#7)
  .github/workflows/ci.yml
  .github/workflows/container.yml
  .github/workflows/release-please.yml
  .goreleaser.yml
  .ko.yaml
  Makefile
  README.md
  cmd/gitguard/main.go
  internal/app/config.go
  internal/app/handlers.go
  internal/app/handlers_integration_test.go
  internal/app/handlers_test.go
  internal/app/server.go
  internal/app/server_test.go
  internal/gitleaks/detector.go
  internal/gitleaks/detector_test.go
Due: format-go, format-yaml, format-markdown

chore(main): release 0.1.2
  .release-please-manifest.json
  CHANGELOG.md
Due: format-markdown

chore(main): release 0.1.2 (#8)
  .release-please-manifest.json
  CHANGELOG.md
Due: format-markdown

fix: use default rules
  internal/gitleaks/detector.go
  internal/gitleaks/detector_test.go
Due: format-go

fix: use default gitleaks rules (#9)
  internal/gitleaks/detector.go
  internal/gitleaks/detector_test.go
Due: format-go

chore(main): release 0.1.3
  .release-please-manifest.json
  CHANGELOG.md
Due: format-markdown

chore(main): release 0.1.3 (#10)
  .release-please-manifest.json
  CHANGELOG.md
Due: format-markdown

chore: refactor
  .commitlintrc.json
  .github/prompts/base.prompt.md
  .github/workflows/ci.yml
  .github/workflows/security.yml
  .goreleaser.yml
  Makefile
  README.md
  cmd/gitguard/main.go
  go.mod
  go.sum
  internal/app/config.go
  internal/app/config_test.go
  internal/app/handlers.go
  internal/app/handlers_integration_test.go
  internal/app/handlers_test.go
  internal/app/server.go
  internal/app/server_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/constants/constants.go
  internal/gitleaks/detector.go
  internal/gitleaks/detector_test.go
  internal/handler/handler.go
  internal/handler/handler_test.go
  internal/logging/logging.go
  internal/logging/logging_test.go
  lefthook.yml
Due: format-go, format-yaml, format-markdown

fix: lint
  .golangci.yml
  cmd/gitguard/main.go
  internal/config/config.go
  internal/config/config_test.go
  internal/constants/constants.go
  internal/handler/handler.go
  internal/handler/handler_test.go
  internal/logging/logging.go
  internal/logging/logging_test.go
  lefthook.yml
Due: format-go, format-yaml

fix: gorelaser updates
  .goreleaser.yml
Due: format-yaml

Update internal/config/config.go
  internal/config/config.go
Due: format-go

fix: update config fallack
  internal/config/config.go
Due: format-go

fix: refacor main
  cmd/gitguard/main.go
Due: format-go

fix: goreleaser
  .github/workflows/ci.yml
  .github/workflows/release-please.yml
  .goreleaser.yml
Due: format-yaml

chore: Refactor codebase and enhance CI/CD pipeline (#12)
  .commitlintrc.json
  .github/prompts/base.prompt.md
  .github/workflows/ci.yml
  .github/workflows/release-please.yml
  .github/workflows/security.yml
  .golangci.yml
  .goreleaser.yml
  Makefile
  README.md
  cmd/gitguard/main.go
  go.mod
  go.sum
  internal/app/config.go
  internal/app/config_test.go
  internal/app/handlers.go
  internal/app/handlers_integration_test.go
  internal/app/handlers_test.go
  internal/app/server.go
  internal/app/server_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/constants/constants.go
  internal/gitleaks/detector.go
  internal/gitleaks/detector_test.go
  internal/handler/handler.go
  internal/handler/handler_test.go
  internal/logging/logging.go
  internal/logging/logging_test.go
  lefthook.yml
Due: format-go, format-yaml, format-markdown

chore(ci): replace goreleaseer with just ko
  .github/workflows/ci.yml
  .github/workflows/ko-build.yml
  .github/workflows/release-please.yml
  .goreleaser.yml
  .ko.yaml
  Makefile
  release-please-config.json
Due: format-yaml

chore: Add versioning variables to CI and Makefile for Ko builds
  .github/workflows/ci.yml
  Makefile
Due: format-yaml

chore: Update Ko version and enhance build process
  .github/workflows/ci.yml
  .github/workflows/ko-build.yml
  Makefile
Due: format-yaml

chore(ci): Replace GoReleaser with Ko for builds (#14)
  .github/workflows/ci.yml
  .github/workflows/ko-build.yml
  .github/workflows/release-please.yml
  .goreleaser.yml
  .ko.yaml
  Makefile
  release-please-config.json
Due: format-yaml

chore(main): release 0.1.4
  .release-please-manifest.json
  CHANGELOG.md
Due: format-markdown

feat: Add Full Repository Scan Handler and Tests
  cmd/gitguard/main.go
  go.mod
  go.sum
  internal/constants/constants.go
  internal/handler/common.go
  internal/handler/full_repo_scan.go
  internal/handler/full_repo_scan_test.go
  internal/handler/handler.go
Due: format-go

feat: Add binary file extensions and skip paths for repository scanning
  internal/constants/constants.go
  internal/handler/full_repo_scan.go
  internal/handler/full_repo_scan_test.go
Due: format-go

feat: Add Full Repository Scan Handler and Tests (#15)
  cmd/gitguard/main.go
  go.mod
  go.sum
  internal/constants/constants.go
  internal/handler/common.go
  internal/handler/full_repo_scan.go
  internal/handler/full_repo_scan_test.go
  internal/handler/handler.go
Due: format-go
